<html> 
<head> 
<title>Arleth99</title> 
<style>
.anime {margin-bottom: 8px;text-align: center;color: #aaa;}
body{background:#444;background:#333 no-repeat fixed;background-image:url('http://3.bp.blogspot.com/-TmSCu_fUHHs/VoloWsjOwYI/AAAAAAAACFo/a6xXJPW2I3o/s1600/comboburst-1.png'),url('http://4.bp.blogspot.com/-xfaBKvYqoKM/VoloWwWIW_I/AAAAAAAACFs/vxALFl9k_Sc/s1600/comboburst-0.png');background-position: -55px bottom, right -55px bottom;background-size:375px;margin: 15% auto;}
.anime a{color: #009688;text-decoration: initial;}.anime a:hover{color:#FFF}::selection { background: #00D0BC; color: #FFF;  }
.jiul_man{border-bottom: 2px dashed;text-align: center; font-family: agency fb; font-size: 55;color: #aaa;border-top: 2px dashed;}.anime i::selection { background: #00D0BC; color: #fff;} .anime i { color: #00D0BC; }
</style>
</head> 
<body>
<div class='anime'>
Contact : <br/>
<a href='https://arleth-desz.blogspot.co.id/' target='_blank'>Blog</a> | 
<a href='https://id-id.facebook.com/Arleth.desz/' target='_blank'>Fanspage</a> | 
<a href='https://www.facebook.com/groups/arleth.desz/' target='_blank'>Group Facebook</a>
</div>
<div class='jiul_man'>
Thank's For Download My Template
</div><br/>
<div class='anime'>
"Note"<br/>
Jika ada bug, silahkan contact admin.<br/>
Buy Template Premium Only Rp.70.000,-
</body> 
</html>